@import "tailwindcss";

@theme {
  --color-custom-white: #fefefe;
  --color-custom-gray: #f9fafb;
  --color-custom-whitegray: #f4f4f4;
  --color-custom-gray0: rgba(244, 244, 244, 0.33);
  --color-custom-gray1: #bdbdbd;
  --color-custom-gray2: #999999;
  --color-custom-gray3: #6e6d6d;
  --color-custom-blue: #5aa1f6;
  --color-custom-blue2: #7cace1;
  --color-custom-orange: #fdc34f;
  --color-custom-orange2: #edac18;
  --color-custom-purple: #b25cd5;
  --color-custom-purple2: #cd98e1;
  --color-custom-purple3: #a572ac;
  --color-custom-purple4: #936699;
  --color-custom-red: rgba(250, 110, 150, 0.13);
  --color-custom-red1: #efa4cb;
  --color-custom-red2: #ea8dbc;
  --color-custom-red3: #e41b60;
  --color-custom-whiteBlue: #b3d9e6;
  --color-custom-whiteBlue2: #9abbc6;

  --color-custom-mint1: #4ec9b0 !important; /* VS Code 민트 */
  --color-custom-mint2: #56d9c9 !important; /* 밝은 민트 */
  --color-custom-mint3: #2dd4bf !important; /* Tailwind 틸(teal) */
  --color-custom-mint4: #14b8a6 !important; /* 진한 틸 */
  --color-custom-mint5: #5eead4 !important; /* 연한 민트 */

  /* 폰트 사이즈 커스텀 */
  --text-tiny: 0.75rem;
  --text-tiny2: 0.9rem;
  --text-topmenu: 1rem;
  --text-xxl: 2rem;
  --text-title: 1.5rem;
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* =========================================================
   인용구 텍스트 색상 수정
   ========================================================= */
.toast-viewer-content blockquote {
  color: #1a1a1a !important;
}

.toast-viewer-content blockquote p {
  color: #1a1a1a !important;
}